<div class="card-header">
    {{ header }}
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card my-3">
                <div class="card-body p-1">
                    <h5 class="m-1 card-title">Tytul1</h5>
                    <p class="m-1">tekst jakiśtam wewnątrz</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card my-3">
                <div class="card-body p-1">
                    <h5 class="m-1 card-title">Tytul1</h5>
                    <p class="m-1">tekst jakiśtam wewnątrz</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <ul>
            <li>
                <b>Tytul3</b> <i>tekst jakiśtam wewnątrz</i>
            </li>
        </ul>
    </div>
</div>
